<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inicio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background: #26c6da;">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="{{ url_for('main') }}">AppCobro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('main') }}">Home</a></li>
      </ul>
      {% if auth_button_label == "Cerrar sesión" %}
        <a href="{{ auth_button_url }}" class="btn btn-danger rounded-pill">{{ auth_button_label }}</a>
      {% else %}
        <a href="{{ auth_button_url }}" class="btn btn-light rounded-pill text-primary">{{ auth_button_label }}</a>
      {% endif %}
    </div>
  </div>
</nav>


    <main>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://repdealberdiar.vtexassets.com/arquivos/ids/162994-800-800?v=638913235068930000&width=800&height=800&aspect=true"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camisetas Belgrano 2025</h5>
                            {% if session.get('usuario') %}
                            <a href="{{ url_for('camisetas') }}" class="btn btn-success">Comprar</a>
                            {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-secondary disabled"
                                aria-disabled="true">Inicia sesión para comprar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://repdealberdiar.vtexassets.com/arquivos/ids/163196-800-800?v=638918360520470000&width=800&height=800&aspect=true"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Shorts Belgrano 2025</h5>
                            {% if session.get('usuario') %}
                            <a href="{{ url_for('shorts') }}" class="btn btn-success">Comprar</a>
                            {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-secondary disabled"
                                aria-disabled="true">Inicia sesión para comprar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://repdealberdiar.vtexassets.com/arquivos/ids/163633-800-800?v=638948749252000000&width=800&height=800&aspect=true"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Medias</h5>
                            {% if session.get('usuario') %}
                            <a href="{{ url_for('medias') }}" class="btn btn-success">Comprar</a>
                            {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-secondary disabled"
                                aria-disabled="true">Inicia sesión para comprar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://repdealberdiar.vtexassets.com/arquivos/ids/156644-800-800?v=638314545761370000&width=800&height=800&aspect=true"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pilusos</h5>
                            {% if session.get('usuario') %}
                            <a href="{{ url_for('pilusos') }}" class="btn btn-success">Comprar</a>
                            {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-secondary disabled"
                                aria-disabled="true">Inicia sesión para comprar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>